[Desktop Entry]
Name=Firefox Stable
Comment=Web Browser
GenericName=Web Browser
X-GNOME-FullName=Firefox Stable Web Browser
Exec=/home/dtsomp/firefox/firefox %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/dtsomp/firefox/browser/icons/mozicon128.png
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=Firefox
StartupNotify=true
